<h1>
    <%= @user.email %>
</h1>
<table>
	<tr>
		<th> Documents </th>
	<tr>
  <% @documents.each do |document|  %>
  	<tr>
    	<td> <%= document.title %> </td>
    	<% if Permission.exists?(document_id: document.id, user_id: @user.id, ability: 'READ') %>
    		<td><a class='btn btn-info' href='/documents/<%= document.id %>' > View </a></td>
    	<% else %>
				<td><a class='btn btn-info' disabled> View </a></td>
    	<% end %>

    	<% if Permission.exists?(document_id: document.id, user_id: @user.id, ability: 'WRITE') %>
    		<td><button class='btn btn-info'> Change </button></td>
    	<% else %>
    		<td><button class='btn btn-info' disabled> Change </button></td>
    	<% end %>
  	</tr>
  <% end %>
</table>
