<div class="starter-template align-middle">
  <img src="assets/integrichain_logo1.png">
</div>
<style>
  body{
    background-color: #3998CC;
  }
  main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
</style>