<h1>
  Documents
</h1>
<a class="btn btn-primary" href="/documents/new" role="button">New</a>
<ul>
  <% @documents.each do |document| %>
      <li> <a href="/documents/<%= document.id %>"> <%= document.title %> </a> </li>
  <% end %>
</ul>
