<h1>
  Create A New Document
</h1>
<%= form_with model: @document, url: {action: "create"}, local: true  do |form| %>
  <%= form.text_field :title %><br><br>
  <%= form.file_field :doc %><br>
  <%= form.submit "Create" %>
<% end %>

