// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container {
  max-width: 300px;
}

img {
  max-width: 100%;
}

.table td{
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 0;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
}

#manage-perm-btn{
  width: 180px;
}

#user-select-group{
  width: 309px;
}

#perm-radio-group{
  width: 274px;
}

.file-form {
	display:inline-block;
	width:100%;
}

.file-field {
	float: left;
	padding-top:5px;
	margin-top: 5px;
}

.submit-file {
	float:right;
}